hotel-service/src/main/webapp/wsdl/AcmeHotelService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HotelWS"
  targetNamespace="urn:specialtripsagency.acme.org:hotelservice"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:specialtripsagency.acme.org:hotelservice"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="urn:specialtripsagency.acme.org:hotelservice"
        schemaLocation="AcmeHotelService_schema1.xsd" />
    </schema>
  </wsdl:types>
  <wsdl:message name="getAvailableHotels">
    <wsdl:part name="parameters" element="tns:HotelRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvailableHotelsResponse">
    <wsdl:part name="parameters" element="tns:Hotel">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bookHotel">
    <wsdl:part name="parameters" element="tns:HotelBooking"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="bookHotelResponse">
    <wsdl:part name="parameters" element="tns:HotelBookingResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelBooking">
    <wsdl:part name="parameters" element="tns:BookingCancellation"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelBookingResponse">
    <wsdl:part name="parameters" element="tns:BookingCancellationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AcmeHotelServiceInterface">
    <wsdl:operation name="getAvailableHotels">
      <wsdl:input name="getAvailableHotels" message="tns:getAvailableHotels">
      </wsdl:input>
      <wsdl:output name="getAvailableHotelsResponse" message="tns:getAvailableHotelsResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bookHotel">
      <wsdl:input name="bookHotel" message="tns:bookHotel"></wsdl:input>
      <wsdl:output name="bookHotelResponse" message="tns:bookHotelResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelBooking">
      <wsdl:input name="cancelBooking" message="tns:cancelBooking"></wsdl:input>
      <wsdl:output name="cancelBookingResponse" message="tns:cancelBookingResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AcmeHotelServiceSoapBinding" type="tns:AcmeHotelServiceInterface">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAvailableHotels">
      <soap:operation
        soapAction="urn:specialtripsagency.acme.org:hotelservice:getAvailableHotels"
        style="document" />
      <wsdl:input name="getAvailableHotels">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAvailableHotelsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bookHotel">
      <soap:operation
        soapAction="urn:specialtripsagency.acme.org:hotelservice:bookHotel"
        style="document" />
      <wsdl:input name="bookHotel">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="bookHotelResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelBooking">
      <soap:operation soapAction="urn:specialtripsagency.acme.org:hotelservice:cancelBooking" style="document" />
      <wsdl:input name="cancelBooking">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelBookingResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AcmeHotelService">
    <wsdl:port name="AcmeHotelServiceInterfaceImplPort" binding="tns:AcmeHotelServiceSoapBinding">
      <soap:address location="http://localhost:9090/AcmeHotelServiceInterfaceImplPort" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
